Saved/Telemetry/Telemetry.json
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_a2bffe8f43c92443/Default/DDCKey-Editor.txt
Saved/Logs/Landscape_Maze.log
Saved/Logs/Landscape_Maze-backup-2025.05.17-07.08.21.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-C23B6FF942F9F3DAA3DB31ADBC36A17D/CrashReportClient.ini
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/CachedAssetRegistry_0.bin
